{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
   /* [
      "@babel/preset-env",
      {
      "targets": {
      "node": "current"
       }
      }
    ]*/
  ]
}